table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  margin-left: 10px;
  margin-top: 5px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
   
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.table_img{
display: flex;
flex-direction: row;
margin-top: 10px;
}
.down_btn{
background-color: green;
border: none;
padding:10px 75px ;
border-radius: 5px;
color: white;
display: flex;
align-items: center;
justify-content: center;
width: 40%;
cursor: pointer;
}

.table_img>img{
width: 300px;
height: 435px;


}
.down_btn2{
  background-color: rgb(0, 183, 255);
  border: none;
  padding:10px 75px ;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
width: 40%;
align-items: center;
cursor: pointer;
}


.btn_cont{
display: flex;
justify-content: center;
align-items: center;
gap: 25px;
margin-top: 15px;

}


.hra{
  max-width: 60%;
}


/*                        TAblet                             */
@media screen and (max-width: 400px) and (min-width: 0px){
 
  .table_img{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 10px;
    }
    .table_img>img{
      width: 280px;
      height: 412px;
 
      }
     
        td, th {
         
          padding: 1px;
         
        }
        table {
         
          width: 95%;
        
        }

}

@media screen and (max-width: 600px) and (min-width: 401px){
 
  .table_img{
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 10px;
    }
    .table_img>img{
      width: 280px;
      height: 412px;
 
      }
     
        td, th {
         
          padding: 1px;
         
        }
        table {
         
          width: 95%;
        
        }



}

@media screen and (max-width: 800px) and (min-width: 601px){
  

     
  
    
}





@media screen and (max-width: 1024px) and (min-width: 801px){


}



@media screen and (max-width: 1440px) and (min-width: 1025px){

 

}



@media screen and (max-width: 1700px) and (min-width: 1441px){



}






@media screen and (max-width: 1900px) and (min-width: 1701px){
    

  
}
@media screen and (max-width: 2000px) and (min-width: 1901px){
    
  

}